<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="4.1.2" targetFramework="net451" />
  <package id="akavache.core" version="4.1.2" targetFramework="net451" />
  <package id="akavache.sqlite3" version="4.1.2" targetFramework="net451" />
  <package id="AutoMapper" version="5.0.2" targetFramework="net46" />
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net451" />
  <package id="cef.redist.x64" version="3.2704.1432" targetFramework="net46" />
  <package id="cef.redist.x86" version="3.2704.1432" targetFramework="net46" />
  <package id="CefSharp.Common" version="51.0.0" targetFramework="net46" />
  <package id="CefSharp.Wpf" version="51.0.0" targetFramework="net46" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="2.5" targetFramework="net451" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net451" />
  <package id="gong-wpf-dragdrop" version="0.1.4.3" targetFramework="net451" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net451" />
  <package id="logentries.core" version="2.8.0" targetFramework="net46" />
  <package id="logentries.nlog" version="2.6.0" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net46" />
  <package id="Mono.Cecil" version="0.9.6.3" targetFramework="net46" />
  <package id="morelinq" version="1.4.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NLog" version="4.3.5" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="reactiveui" version="6.5.0" targetFramework="net451" />
  <package id="reactiveui-blend" version="6.5.0" targetFramework="net451" />
  <package id="reactiveui-core" version="6.5.0" targetFramework="net451" />
  <package id="reactiveui-platforms" version="6.5.0" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" requireReinstallation="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net451" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Xaml" version="2.2.5" targetFramework="net451" />
  <package id="SharpCompress" version="0.12.1" targetFramework="net46" />
  <package id="SignalRNetClientProxyMapper" version="1.1.0" targetFramework="net451" />
  <package id="SimpleInjector" version="3.2.0" targetFramework="net46" />
  <package id="SimpleInjector.AutoRegistration" version="1.0.5" targetFramework="net451" />
  <package id="Splat" version="1.6.2" targetFramework="net451" />
  <package id="SQLitePCL.raw_basic" version="0.8.6" targetFramework="net451" />
  <package id="squirrel.windows" version="1.4.2" targetFramework="net46" />
  <package id="Website.API.Models" version="1.15.4.0" targetFramework="net451" />
  <package id="WpfAnimatedGif" version="1.4.14" targetFramework="net451" />
  <package id="YamlDotNet" version="3.9.0" targetFramework="net46" />
</packages>